.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Groups {
  display: flex;
  justify-content: space-between; /* Space between groups */
}

.Group {
  width: calc(33.33% - 10px); /* Adjust as needed */
  margin-right: 20px; /* Adjust as needed */
}

.Columns {
  display: flex;
  flex-direction: column;
}
.Group h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.Group > h3 {
  margin: 0;
  width: 100%; 
  text-align: center;
}