.card {
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc; /* Add border to the card */
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%; /* Make the card expand to the full width of its container */
  text-align: left;
  overflow: hidden; /* This will hide any content that exceeds the fixed height */
}

.card-key {
  font-size: 14px;
  color: #999;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-tag {
  font-size: 16px;
  color: green;
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%; /* Adjust width for smaller screens */
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .card {
    width: 100%; /* Adjust width for medium-sized screens */
  }
}

@media screen and (min-width: 1025px) {
  .card {
    width: 100%; /* Adjust width for larger screens */
  }
}
