/* Header.css */
.Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    color: #333;
    align-items: center;
    position: relative; /* Position relative for the modal */
  }
  
  .Header button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  /* DropdownMenu.css */
  .DropdownMenu {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align "Group By" and "Sort By" to the left */
    margin: 0; /* Remove margin to align with "Group By" */
  }
  
  .grouping-options,
  .sorting-options {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }
  
  label {
    margin-right: 5px;
    color: #333;
  }
  
  select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  